# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files
*.bak

# Others
iniciante
intermediario
.vscode

# Python
*py[cod]
*$py.class

# Distribution / packaging
.Python buil/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Installen logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest.cache/
mosetest.xml
coverage.xml
*.cover
.hypothesis/

# Jupyster Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery
celerybeat-schedule.*

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cahce
*.sublime-workspace
*.sublime-project

# sft configuration file
stfp-config.json

# Package control specific files Package
Control.lat-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
Github.sublime-settings

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extension.json
.history

# Personal additions
__pycache__/
*.pyc
__localcode
venv
env
.DS_Store
local_settings.py
_local_settings.py
static/

# Add again for course purpose
!db.sqlite3
